body {
  background-color: black;
  font-family: verdana;
}

.header h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  color: white;
}

.header p {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
